@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
   

/* --=============BODY===============-- */

html {
    scroll-behavior: smooth;
}
    
body {
    width: 100vw;
    height: 100vh;
    background: #171717;
    animation: fadeInAnimation ease 2s;
    scroll-behavior: smooth;
    overflow-x: hidden;
}    

a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

a:hover {
    color: #388e3c !important;
}

/* --=============NAVBER===============-- */

nav {
    display: flex;
    gap: 20px;
    margin: 10px;
}

nav .logo {
    height: 64px;
    width: 64px;
    padding: 0px 5px;
    background: #18181b;
    border: 1px solid #27272a;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo i {
    font-size: 26px;
    color: #388e3c;
}

nav .links {
    height: 64px;
    width: 100%;
    padding: 0 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #18181b;
    border: 1px solid #27272a;
    border-radius: 48px;
}

nav .links a {
    font-size: 20px;
}

nav .links a.active {
    font-weight: bold;
    color: #388e3c;
}

#btn-1{
    width: 130px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #4caf50;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
}

#btn-1:hover {
   color: #388e3c;
   transition: all 0.3s ease;
}

#menu-btn {
    display: none;
}

.mob-nav {
    display: none;
}

/* --=============HEADER===============-- */

.me {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 42px;
    background: #18181b;
    border: 1px solid #27272a;
    border-radius: 14px;
    margin-top: 20px;
}

.me .left h1 {
    color: #bdbdbd;
    font-size: 34px;
    font-weight: 400;
}

.me .left h1 span {
    color: #388e3c;
}

.me .left h3 {
    color: #bdbdbd;
}

.text-animation {
    font-size: 24px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span {
    position: relative;
}
.text-animation span::before {
    content: "Web Developer";
    color: #388e3c;
    animation: words 20s infinite;
}
.text-animation span::after {
    content: '';
    background-color: #18181b;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #388e3c;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
    to{
        border-left: 2px solid #388e3c;
    }
}
@keyframes words {
    0%,
    20% {
        content: "Web Develpoer";
    }
    21%,
    40%{
        content: "Frontend Developer";
    }
    41%,
    60% {
        content: "UI / UX Designer";
    }
    61%,
    80% {
        content: "Web Designer";
    }
    81%,
    100% {
        content: "Software Tester";
    }
}
@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}


.me .left .info {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.me .left .info h2 {
    font-size: 36px;
    color: #fff;
    font-weight: 500;
}

.me .left .info p {
    font-size: 20px;
    color: #bdbdbd;
}

.me .left .info .buttons {
    display: flex;
    gap: 14px;
}

.me .left .info .buttons button {
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.me .left .info .buttons button.hire {
    color: #fff;
    background: #388e3c;
    border: 1px solid #171717;
}

.me .left .info .buttons button.hire:hover {
    background: #4caf50;
}

.me .left .info .buttons button.email {
    color: #bdbdbd;
    border: 1px solid #27272a;
    background: #171717;
}

.me .left .info .buttons button.email:hover {
    background: #000;
}

.me .right a.online, 
footer a.online{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #171717;
    border: 1px solid #27272a;
    padding: 4px 15px;
    border-radius: 14px;
    font-size: 13px;
}

.me .right a.online i,
footer a.online i {
    color: #4caf50;
    font-size: 9px;
}

.me .right img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid #2c2c2c;
    object-fit: cover;
    margin-top: 70px;
}


.social-media{
    display: flex;
    /* justify-content: space-between; */
    width: 45px;
    height: 45px;
   
}

.social-media a{
    width: 35px;
    height: 35px;
    font-size: 1.2rem;
    color: #fff;
    background: #171717;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    border-radius: 50%;
    border-radius: 25px;
    border: 2px solid #4caf50;
    z-index: 1;
}


.social-media a:hover{
    color: #4caf50;
}

.bg-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* --=============ABOUT SECTION===============-- */

.works {
    width: 100vw;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.works .left {
    flex: 1;
    background: #18181b;
    padding: 60px 40px;
    border-radius: 14px;
    border: 1px solid #27272a;
}

.works .left h3 {
    color: #bdbdbd;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}

.works .left h3 i {
    font-size: 8px;
}

.works .left h4 {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background: #171717;
    color: #fff;
    border: 1px solid #388e3c;
    padding: 4px 15px;
    border-radius: 14px;
    font-size: 13px;
}

.works .left  button {
    width: 80px;
    height: 30px;
    background-color: #171717;
    align-items: center;
    justify-content: center;
    border: 1px solid #388e3c;
    border-radius: 10px;
    color: #fff;
    display: inline-flex;
    position: relative;
    margin: 30px 8px;
    cursor: pointer;
}

.works .left  button.active {
    background: #4caf50;
}

.works .left button:hover {
    background-color: #4caf50;
    transition: 0.4s;
}

.content-btn > .content:not(:first-child){
    display: none;
}

.text-box p {
    color: #fff;
}

.text-box span {
    color: #388e3c;
}

.works .left .works-list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.works .left .works-list .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.works .left .works-list .item .work-info h5 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.works .left .works-list .item .work-info h5.active {
    color: #388e3c;
}

.works .left .works-list .item .work-info p {
    margin-top: 12px;
    color: #bdbdbd;
    font-size: 20px;
}

.works .left .works-list .item > p {
    font-size: 20px;
    color: #bdbdbd;
}

.item a i {
    width: 45px;
    height: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #388e3c;
    border-radius: 25px;
    display: inline-flex;
    gap: 25px;  
}



/* --=============ABOUT MY WORK===============-- */

.works .right {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% auto;
    gap: 20px;
}



.works .right .item:first-child {
    grid-column: span 2;
}

.works .right .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    color: #18181b;
    border: 1px solid #27272a;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.works .right .item:hover a {
    color: #388e3c;
}

.works .right .item a {
    font-size: 24px;
    font-weight: 500;
}

.works .right .item > p {
    color: #bdbdbd;
    font-size: 17px;
    line-height: 26px;
}

.works .right .item:not(:first-child) {
    gap: 14px;
}

.works .right .item:not(:first-child) a {
    font-size: 18px;
}

.works .right .item:not(:first-child) p {
    font-size: 15px;
}

/* --=============USE TECNOLOGIS===============-- */




/* ==================== Contact section css code & Skills section css code ============================ */

.contact {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
    border: 1px solid #27272a;
    border-radius: 15px;
    justify-content: space-around;
}

.contactSkills{
    width: 550px;
    height: 550px;
    display: flex;
    justify-content: space-between;
}

.contact-info{
    width: 100%;
    background: #18181b;
    box-shadow: rgba(0,0,0,0.18)0px 2px 4px;
    padding: 1rem;
    margin: 20px;
    border: 1px solid #27272a;
    border-radius: 10px;
}

.contact-info input,
.contact-info form textarea{
    width: 100%;
}

.contact-info form input,
.contact-info form textarea{
    padding: .8rem;
    border: 2px solid #2c2c2c;
    margin: .5rem 0;
    background: transparent;
    border-radius: 8px;
    outline: none;
    transition: .3s;
}

.contact-info form .input-box{
    display: flex;
    justify-content: space-between;
}

.main-text {
    color: #fff;
    font-weight: 400;
    text-align: center;
    justify-content: center;
}
.main-text span {
    color: #bdbdbd;
    font-size: 12px;
}

.input-box input{
    width: 49%;
}

form input:focus,form textarea:focus{
    filter: brightness(100%);
    background: #d2e9ff;
    border: 2px solid #388e3c;
}

form textarea{
    resize: none;
}

form .btn{
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid #388e3c;
    background: transparent;
    cursor: pointer;
    font-weight: 500;
    margin-left: 165px;
    color: #fff;
}

form .btn:hover {
    background-color: #4caf50;
}

.container {
    width: 100%;
    margin: 20px;
    border: 1px solid #27272a;
    border-radius: 15px;
}
.skills {
    width: 550px;
    height: 550px;
    display: flex;
}

.skillBox{
    padding: 0 1rem 1rem;
}

.skillBox .main-text{
    margin-bottom: 1rem;
}

.skill-wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px , auto));
    justify-content: center;
    grid-gap: 2rem;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.outer-circle{
    width: 170px;
    height: 170px;
    position: relative;
    margin-bottom: 1rem;
    padding: 20px;
    border-radius: 50%;
    box-shadow: rgba(50,50,93,0.25)0px 6px 12px -2px,
    rgba(0,0,0,0.3)0px 3px 7px -3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-circle{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 255)3px 3px 6px 0px inset,
    rgb(255, 255, 255)-3px -3px 6px 1px inset;
}

.outer-circle svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.outer-circle svg circle{
    fill: none;
    stroke-width: 15px;
    stroke: #4caf50;
    stroke-linecap: round;
    stroke-dasharray: 465;
    stroke-dashoffset: 464; 
}

.outer-circle h2.counter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    font-size: .9rem;
    font-weight: 400;
}
h2 {
    color: #fff;
}
h2.counter span{
    font-size: 1.7rem;
}

.sk-title{
    font-size: 1rem;
    font-weight: 500;
    color: #388e3c;
}

#progress{
    position: fixed;
    background: #194eb9;
    z-index: 1000;
    bottom: 60px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: none;
    place-items: center;
    border-radius: 50%;
    color: #1d002c;
    cursor: pointer;
    box-shadow: rgba(50,50,93,0.25)0px 50px 100px -20px,
    rgba(0,0,0,0.3)0px 30px 60px -30px,
    rgba(10,37,64,0.35)0px -2px 6px 0px inset;
}

#progress-value{
    display: grid;
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    background: transparent;
    border-radius: 50%;
    color: #fff;
    place-items: center;
    font-size: 25px;
}

@keyframes moveText{
    0%,10%,100%{
        background-position: -24rem 0;
    }

    65%,85%{
        background-position: 0rem 0;
    }
}

@keyframes moveCursorText{
    0%,10%,100%{
        width: 0;
    }

    65%,78%,85%{
        width: 100%;
        opacity: 1;
    }

    75%,85%{
        opacity: 0;
    }
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes rotateText{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes progress{
   to{
    stroke-dashoffset: var(--target);
   }
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-22px);
    }
    100%{
        transform: translateY(0);
    }
}

/* --=============FOOTER===============-- */

footer {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #18181b;
    border: 1px solid #27272a;
    padding: 45px;
    border-radius: 14px;
}

footer > a {
    font-size: 24px;
    font-weight: 500;
}

footer .socials {
    display: flex;
    align-items: center;
    gap: 12px;
}

footer .socials a {
    font-size: 20px;
    font-weight: 500;
    color: #bbdbdb;
}
footer .socials a i {
    padding: 8px;
    
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


